/*------------------------
COMMON STYLES
------------------------*/

body{
  background-color: #f5f5f5;
  color: #242424;
  font-family: "Lora",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
}
a img:hover {
  opacity: 0.7;
}
a img {
  transition: opacity 0.5s;
  opacity: 1;
}
label{
  font-weight: normal;
  margin: 0;
}
a {
  color: #666;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #fcd022;
  outline: none;
}
body .wpb_button,
body .wpb_content_element,
body ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0;
}
p{
  margin-bottom: 20px;
}
ul,ol{
  padding-left: 20px;
  margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
  letter-spacing: 2px;
  color: #000;
  margin: 0 0 15px 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 35px;
  line-height: 40px;
}
h2{
  font-size: 30px;
  line-height: 35px
}
h3{
  font-size: 24px;
  line-height: normal;
}
h4{
  font-size: 16px;
  line-height: 24px;
}
h5{
  font-size: 14px;
  line-height: 20px;

}
h6{
  font-size: 12px;
  line-height: 20px;
}

img {
  height: auto;
  max-width: 100%;
}
input[type="text"], input[type="email"], textarea, input[type="password"], input[type="tel"], select,
input[type="search"]{
  border: 1px solid #dddddd;
  line-height: normal;
  max-width: 100%;
  padding: 10px 15px;
  color: #888888;
  background-color: #f5f5f5;
}
input[type="text"], input[type="email"], textarea, input[type="password"], input[type="tel"],
input[type="search"]{
  -webkit-appearance: none;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="submit"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
}

:focus {
  outline: none;
}

.button,
input[type="submit"]{
  font-family: 'Montserrat',Sans-serif;
  background: #000 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: normal;
  min-width: inherit;
  padding: 13px 30px;
  padding-bottom: 14px;
  text-transform: uppercase;
}
.button:hover,
input[type="submit"]:hover,
.button:focus,
input[type="submit"]:focus{
  color: #fff;
}

.alignnone {
  margin: 5px 20px 20px 0;
}
img.alignnone {
  margin: 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.sticky{
  color: inherit;
}
.bypostauthor{
  color: inherit;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.text-center{  text-align: center; }
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 100%; /* Image does not overflow the content area */
  padding: 5px 3px 5px;
  text-align: center;
  margin: 0;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
  clear: both;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  padding: 10px 4px 5px;
  margin: 0!important;
}
.gallery-caption {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  padding: 0.5em 0;
}
iframe{
  max-width: 100%!important;
}
.alignright {
  float:right;
  margin: 5px 0 20px 30px;
}
.alignleft {
  float: left;
  margin: 5px 30px 20px 0;
}
table{
  border: 1px solid #E6E6E6;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
  margin-bottom: 20px;
}
table thead{
  background-color: #fafafa;
}
th,td{
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  padding: 12px;
  font-weight: normal;
}
table tr th:last-child,
table tr td:last-child{border-right: 0;}
table tr:last-child td, table tr:last-child th{
  border-bottom: none;
}
/* WordPress Gallery
------------------------------------------ */

.gallery {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.gallery:after {
  display: table;
  content: "";
  clear: both;
}

.gallery-item {
  margin: 0;
  float: left;
  padding: 0.5em;
  font-size: 0.8125rem;
  font-style: italic;
  color: #666;
}
.gallery-columns-1 .gallery-item {
  width: 100%;
  float: none;
}
.gallery-columns-2 .gallery-item {
  width: 50%
}
.gallery-columns-3 .gallery-item {
  width: 33.3333%
}
.gallery-columns-4 .gallery-item {
  width: 25%
}
.gallery-columns-5 .gallery-item {
  width: 20%
}
.gallery-columns-6 .gallery-item {
  width: 16.6667%
}
.gallery-columns-7 .gallery-item {
  width: 14.2857%
}
.gallery-columns-8 .gallery-item {
  width: 12.5%
}
.gallery-columns-9 .gallery-item {
  width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}
.owl-carousel .owl-item.active .owl-lazy{
  opacity: 1;
}
.owl-nav.disabled{
  display: none;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next{
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  float: left;
  cursor: pointer;
  margin: 0 2px;
  background-color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover{
  color: #fff;
}
.owl-carousel .owl-prev{
  margin-left: 0;
}
.owl-carousel .owl-next{
  margin-right: 0;
}
.owl-carousel .owl-nav:before,
.owl-carousel .owl-nav:after{
  content: '';
  display: table;
}
.owl-carousel .owl-nav:after{
  clear: both;
}


.owl-carousel.nav-center .owl-prev,
.owl-carousel.nav-center .owl-next{
  position: absolute;
  top: 50%;
  margin-top: -15px;
  visibility: hidden;
  opacity: 0;
}
.owl-carousel.nav-center:hover .owl-prev,
.owl-carousel.nav-center:hover .owl-next{
  opacity: 1;
  visibility: visible;
}
.owl-carousel.nav-center .owl-next{
  right: -50px;
}
.owl-carousel.nav-center .owl-prev{
  left: -50px;
}
.owl-carousel.nav-center:hover .owl-next{
  right: 0;
}
.owl-carousel.nav-center:hover .owl-prev{
  left: 0;
}

/*---------------------
Layout
-----------------------*/
.container-wapper{
  max-width: 1810px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-container{
  padding-bottom: 50px;
}
.main-container.left-slidebar .main-content{
  float: right;
}

/*---------------------
HEADERS
-----------------------*/
.topbar{
  background-color: #000;
  position: relative;
}
.topbar .socials{
  padding: 0 20px;
}
.socials .social{
  font-size: 13px;
  color: #fff;
  display: inline-block;
  padding: 13px 10px;
}
.header-form-search{
  display: inline-block;
  float: right;
  position: relative;
  color: #fff;

}
.header-form-search.open .form{
  visibility: visible;
}
.header-form-search .form{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  min-width: 300px;
  visibility: hidden;
}
.header-form-search .form input[type="text"]{
  border: none;
  width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 15px 20px;
  font-size: 13px;
}
.header-form-search .icon{
  display: inline-block;
  border-left: 1px solid;
  padding: 13px 30px;
  padding-right: 0;
  border-color: rgba(255,255,255,0.2);
  cursor: pointer;
}
.mobile-menu{
  display: none;
}
.smart-mainmenu{
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}
.smart-mainmenu li{
  list-style: none;
  position: relative;
}
.smart-mainmenu>li{
  display: inline-block;
  list-style: none;
}
.smart-mainmenu>li>a{
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
  padding: 13px 20px;
  display: inline-block;
  letter-spacing: 2px;
}
.smart-mainmenu>li:first-child>a{
  padding-left: 0;
}
.smart-mainmenu>li:last-child>a{
  padding-right: 0;
}
.smart-mainmenu .submenu{
  background: #000 none repeat scroll 0 0;
  list-style: outside none none;
  min-width: 220px;
  padding: 0;
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0;
  z-index: 100;
}
.smart-mainmenu .menu-item-has-children:hover >.submenu{
  visibility: visible;
}
.smart-mainmenu .submenu>li>a{
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-size: 10px;
  border-bottom-style:solid;
  border-bottom-color: rgba(255,255,255,0.2);
  border-bottom-width: 1px;
  font-size: 10px;
}
.smart-mainmenu .submenu .submenu{
  top: 0;
  left: 100%;
}
.main-header{
  padding: 60px 0;
}
.main-header .logo{
  text-align: left;
  margin: 0;
}
.sticky-wrapper.is-sticky .header-sticky{
  z-index: 990;
}
.admin-bar .sticky-wrapper.is-sticky .header-sticky{
  top: 32px !important;
}
.is-sticky .header-sticky {
  z-index: 1000;
  -webkit-box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.09);
  box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.09);
  top: 0;
  animation: slideInUp 0.7s;
  -moz-animation: slideInUp 0.7s;
  -webkit-animation: slideInUp 0.7s;
}

/*---------------------
 WIDGETS
 -----------------------*/
.widget-area{
  background-color: #fff;
  padding: 30px;
  padding-top: 16px;
}
.widget {
  margin-bottom: 40px;
}
.widget:last-child{
  margin-bottom: 0;
}

.widget a {
  color: #000;
}

.widget a:hover {
  color: #a19917;
}
.sidebar select{
  width: 100%;
}

.widget .widgettitle{
  text-align: center;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 18px;
  letter-spacing: 2px;
}
.widget .widgettitle:before{
  content: '';
  height: 1px;
  background-color: #dddddd;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  z-index: 1;
}
.widget .widgettitle .text{
  display: inline-block;
  background-color: #fff;
  padding: 0 30px;
  position: relative;
  z-index: 2;
}
.widget > ul,
.widget_nav_menu  ul {
  margin: 0;
  padding: 0;
}

.widget_nav_menu ul ul {
  padding-left: 15px;
}

.widget ul {
  list-style: outside none none;
}
.widget li {
  line-height: 35px;
}
.widget_search input[type="text"]{
  width: 100%;
}
.widget_rss li{
  line-height: 24px;
  margin-bottom: 15px;
}
.widget_rss .rsswidget{
  font-weight: 700;
}
.widget_rss .rss-date,
.widget_rss .rssSummary{
  font-style: italic;
  color: #999999;
  font-size: 13px;
}
.widget_archive .screen-reader-text,
.widget_categories .screen-reader-text
{
  display: none;
}
.widget_about_me .widget-content{
  text-align: center;
}
.widget_about_me .about-img{
  margin-bottom: 20px;
}
.widget_about_me .about-title{
  font-family: 'Montserrat',sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.smartblog-instagram{
  margin: 0 -2.5px;
}
.smartblog-instagram:before,
.smartblog-instagram:after{
  content: '';
  display: table;
}
.smartblog-instagram:after{
  clear: both;
}
.smartblog-instagram .item{
  padding: 0 2.5px;
  margin-top: 5px;
  float: left;
}
.widget_smartblog_instagram .widgettitle{
  margin-bottom: 13px;
}
.smartblog-instagram.cols-2 .item{
  width: 50%;
}
.smartblog-instagram.cols-3 .item{
  width: 33.33333%;
}
.smartblog-instagram.cols-4 .item{
  width: 25%;
}
.smartblog-instagram.cols-5 .item{
  width: 20%;
}
.smartblog-instagram.cols-6 .item{
  width: 16.6666666%;
}
.smartblog-instagram .item a{
  display: block;
  position: relative;
}
.smartblog-instagram .item a::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  background: rgba(239,195,114,0.8);
  background: -moz-linear-gradient(45deg, rgba(239,195,114,0.8) 0%, rgba(150,67,167,0.96) 81%, rgba(150,67,167,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(239,195,114,0.8)), color-stop(81%, rgba(150,67,167,0.96)), color-stop(100%, rgba(150,67,167,1)));
  background: -webkit-linear-gradient(45deg, rgba(239,195,114,0.8) 0%, rgba(150,67,167,0.96) 81%, rgba(150,67,167,1) 100%);
  background: -o-linear-gradient(45deg, rgba(239,195,114,0.8) 0%, rgba(150,67,167,0.96) 81%, rgba(150,67,167,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(239,195,114,0.8) 0%, rgba(150,67,167,0.96) 81%, rgba(150,67,167,1) 100%);
  background: linear-gradient(45deg, rgba(239,195,114,0.8) 0%, rgba(150,67,167,0.96) 81%, rgba(150,67,167,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc372', endColorstr='#9643a7', GradientType=1 );
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.smartblog-instagram .item a::after {
  font-family: 'FontAwesome';
  display: inline-block;
  content: "\f16d";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0);
  -o-transform: translateX(-50%) translateY(-50%) scale(0);
  transform: translateX(-50%) translateY(-50%) scale(0);
  z-index: 2;
  color: #fff;
}
.smartblog-instagram .item:hover a::before {
  opacity: 1;
  visibility: visible;
}
.smartblog-instagram .item:hover a::after {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  -o-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.smartblog-instagram .linktext{
  font-size: 10px;
  font-family: 'Montserrat',Sans-serif;
  text-transform: uppercase;
  display: inline-block;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  background-color: #fff;
  padding: 8px 50px;
  transform: translate(-50%,-50%);
}
.widget_smartblog_instagram{
  position: relative;
}
.smartblog_latest_posts_widget .latest-post{
  padding: 0;
}
.smartblog_latest_posts_widget .latest-post li{
  margin-bottom: 20px;
  overflow: hidden;
  line-height: 24px;
}
.smartblog_latest_posts_widget .latest-post li:last-child{
  margin-bottom: 0;
}
.smartblog_latest_posts_widget .latest-post li .item-photo{
  width: 150px;
  float: left;
}
.smartblog_latest_posts_widget .latest-post li.has-post-thumbnail .item-detail{
  overflow: hidden;
  padding-left: 20px;
}
.smartblog_latest_posts_widget .latest-post .post-name{
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.smartblog_latest_posts_widget .latest-post .post-name a{
  color: #000;
}
.smartblog_latest_posts_widget .latest-post  .time,
.smartblog_latest_posts_widget .latest-post  .like a{
  font-size: 14px;
  color: #999;
  font-style: italic;
}
.smartblog_latest_posts_widget .latest-post  .time{
  margin-bottom: 10px;
}
.smartblog-socials-widget{
  text-align: center;
}
.smartblog-socials-widget .social{
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  font-size: 13px;
  color: #000;
  line-height: 33px;
  text-align: center;
  margin: 0 10px;
  margin-top: 20px;
}
.smartblog-socials-widget .social:hover{
  color: #fff;
  background-color: #000;
}
.smartblog-socials-widget .widgettitle{
  margin-bottom: 0;
}
.smartblog-newsletter-widget .email{
  width: 100%;
  margin-bottom: 15px;
}
.smartblog-newsletter-widget .return-message{
  font-size: 12px;
  padding: 0 10px;
  margin-top: 10px;
  display: block;
  float: left;
  width: 100%;
}
.sidebar  .smartblog-newsletter-widget .form-group{
  width: 100%;
}
/*--------------------
 BLOG
 -------------------*/
.post-item{
  background-color: #fff;
  margin-bottom: 50px;
}
.post-item .post-thumb{
  position: relative;
  overflow: hidden;
}
.post-item .post-thumb:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #ffffff transparent;
}
.post-item .post-item-info{
  padding: 22px 30px;
  overflow: hidden;
}
.post-item  .post-cat{
  font-size: 10px;
  font-family: 'Montserrat',Sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 2px;
}
.post-item .post-name{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: normal;
}
.post-item .post-name a{
  color: #000;
}
.post-item .post-excerpt p:last-child,
.post-item .post-content p:last-child,
.post-content p:last-child{
  margin-bottom: 0;
}
.
.post-item .post-excerpt,
.post-item .post-content{
  margin-bottom: 25px;
}
.post-content{
  margin-bottom: 25px;
}
.post-item .post-metas,
.post-item .post-metas a{
  color: #999999;
  font-style: italic;
    overflow: hidden;
}

.post-item .post-metas:before{
  content: '';
  width: 30px;
  height: 1px;
  float: left;
  margin-top: 12px;
}
.post-item .post-metas>span{
  display: inline-block;
  float: left;
  padding: 0 10px;
}
.post-item .post-item-share{
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: 20;
    width: 30px;
    text-align: center;
}
.post-item .post-item-share .icon{
    display: block;
    margin-bottom: 5px;
}
.post-item .post-item-share .box-content {
    position: absolute;
    width: 30px;
    color: #fff;
    background-color: #d8d8d8;
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    webkit-transition: all .5s,-webkit-transform .5s;
    transition: all .5s,transform .5s;
}
.post-item .post-item-share:hover .box-content{
    opacity: 1;
    visibility: visible;
}
.post-item .post-item-share .box-content:before{
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 9px 5px;
    border-color: transparent transparent #d8d8d8 transparent;
}
.post-item .post-item-share .box-content a{
    display: block;
    color: #fff;
}
.post-item.format-video .post-thumb:after,
.post-item.format-audio .post-thumb:after,
.post-item.format-gallery .post-thumb:after{
  content: '';
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  height: 50px;
  left: 50%;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}
.post-item.format-audio .post-thumb:after{
  content: "\f027";
}
.post-item.format-video .post-thumb:after{
  content: "\f03d";
}
.post-item.format-gallery .post-thumb:after{
  content: "\f03e";
}
.navigation{
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat',Sans-serif;
  overflow: hidden;
  letter-spacing: 2px;
}
.navigation a{
  color: #000000;
  display: inline-block;
}
.navigation a .fa{
  font-size: 14px;
}
.navigation a:last-child{
  float: right;
}
.post-item:before,
.post-item:after{
  content: '';
  display: table;
}
.post-item:after{
  clear: both;
}
.blog-list .post-item .post-thumb{
  width: 370px;
  float: left;
}
.blog-list .post-item .post-item-info{
  overflow: hidden;
}
.blog-list .post-item .post-thumb::before{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #ffffff transparent transparent;
  left: inherit;
  margin-left: 0;
  bottom: inherit;
  right: 0;
  top: 50%;
  margin-top: -10px;

}
.list-1st-full .post-item.first .post-thumb{
    width: 100%;
    float: none;
}
.list-1st-full .post-item.first .post-thumb:before{
    top: inherit;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #ffffff transparent;
}

.blog-zigzag .post-item:nth-child(2n) .post-thumb {
  float: right;
}
.blog-zigzag .post-item:nth-child(2n) .post-thumb::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #ffffff;
  margin-left: 0;
  bottom: inherit;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.page-main-content{
  padding:30px;
  background-color: #fff;
}
.page-main-content .post-comments{
  padding: 0;
}
.entry-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.page-main-content .post-thumb{
  margin-bottom: 25px;
}
.wpcf7-form .wpcf7-form-control  {
  width: 100%;
}
.wpcf7-form .wpcf7-form-control-wrap {
  margin-bottom: 30px;
  display: block;
}
.wpcf7-form .wpcf7-submit {
  width: auto;
  display: inline-block;
}
.archive-header{
  background-color: #fff;
  border: 1px solid #dddddd;
  margin-bottom: 50px;
  text-align: center;
  padding: 29px 0px;
}
.archive-header .page-title{
  color: #999;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* SINGLE POST*/
.post-single{
    background-color: #fff;
    padding-bottom: 30px;
}
.post-detail .post-item .box-footer{
    border: 1px solid #dddddd;
    display: table;
    width: 100%;
}
.post-detail .post-item .post-item-info{
  padding-bottom: 0;
}
.post-detail .post-item .box-footer:before{
    display: none;
}
.post-detail .post-item .box-footer .left,
.post-detail .post-item .box-footer .right{
    display: table-cell;
    vertical-align: middle;
    padding: 27px 30px;
    width: 50%;
}
.post-detail .post-item .box-footer .right{
    border-left: 1px solid #dddddd;
    text-align: right;
}
.post-detail .tags{
    font-style: normal;
}
.post-detail .tags a{
    color: #242424;
}
.post-comments{
  padding: 0 30px;
  background-color: #fff;
}
.comment-reply-title,
.post-related-title,
.post-comments .block-title{
    text-align: center;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 20px;
}
.comment-reply-title{
  margin-top: 20px;
}
.comment-reply-title:before,
.post-related-title:before,
.post-comments .block-title:before{
    content: '';
    height: 1px;
    background-color: #dddddd;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    z-index: 1;
}
.comment-reply-title .text,
.post-related-title .text,
.post-comments .block-title .text{
    display: inline-block;
    background-color: #fff;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}
.comment-form .input-form{
    width: 100%;
}
.comment-form .form-submit{
    margin-bottom: 0;
}
.comments{
    padding: 0;
}
.comments .comment,
.comments .pingback {
  list-style: none;
  margin-top: 20px;
}
.comments .pingback .comment-body .comment-content{
  padding-left: 0;
}
.comments  .comment-body{
  overflow: hidden;
}
.comments  .comment-body .author-avatar{
  width: 100px;
  float: left;
}
.comments  .comment-body .author-avatar img{
  border-radius: 50%;
}
.comments  .comment-body .comment-content{
  overflow: hidden;
  padding-left: 20px;
}
.comments  .comment-body .head{
  margin-bottom: 10px;
}
.comments  .comment-body .comment-meta{
  display: inline-block;
  color: #999;
  font-style: italic;
  font-size: 12px;
  margin-left: 15px;
}
.comments  .comment-body .author{
  color: #000;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat',Sans-serif;
}
.comments  .comment-body .comment-reply-link{
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
}
.comments  .comment-body .coment-text{
  margin-bottom: 15px;
}
.comments  .comment-body .coment-text p:last-child{
  margin-bottom: 0;
}
.comments .children{
  padding-left: 30px;
}
.post-related{
  padding: 0 30px;
  padding-bottom: 25px;
}
.post-related .post-item .post-thumb{
  margin-bottom: 17px;
}
.post-related .post-item .post-thumb:before{
  display: none;
}
.post-related .post-item{
  margin-bottom: 0;
}
.post-related .post-item .post-item-info{
  padding: 0;
}
.page-404{
  background-color: #fff;
  padding: 100px 0;
}
.page-404 .heading{
  font-size: 150px;
  line-height: normal;
  font-weight: 700;
}
.page-links{
  margin-bottom: 30px;
  overflow: hidden;
}
.page-links >span,
.page-links>a{
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #eee;
  float: left;
  margin-right: 5px;
}

.post-slider{
  background-color: #fff;
  margin-bottom: 50px;
}
.post-slider .post-item{
  margin: 0;
}
.post-slider .post-item .post-thumb {
  padding-right: 400px;
}
.post-slider .post-item .post-item-info{
  overflow: hidden;
  text-align: center;
  padding: 30px;
  position: absolute;
  width: 400px;
  right: 0;
  height: 100%;
  top: 0;
}
.post-slider .post-item .post-inner{
  border: 1px solid #dddddd;
  padding: 25px 30px;
  position: relative;
  height: 100%;
}
.post-slider .post-item .post-thumb::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #ffffff transparent transparent;
  left: inherit;
  margin-left: 0;
  bottom: inherit;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.post-slider .owl-dots{
  position: absolute;
  top: 50%;
  left: 30px;
  width: 13px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.post-slider .owl-dots .owl-dot{
  width: 13px;
  height: 13px;
  border: 2px solid #fff;
  float: left;
  margin: 10px 0;
  border-radius: 50%;
}
.post-slider .owl-dots .owl-dot.active{
  background-color: #fff;
}
.featured-category-item{
  position: relative;
  margin-bottom: 50px;
}
.featured-category-item .cat-name{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #fff;
  font-size: 10px;
  color: #000;
}
.featured-category-item .cat-name:hover{
  color: #fff;
}
.block-search-popup {
  position: fixed;
  z-index: 999;
  max-width: 100%;
  min-width: 500px;
  top: 30%;
  left: 50%;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 999;
  -webkit-box-shadow: 3px 5px 14px -3px rgba(0,0,0,0.11);
  -moz-box-shadow: 3px 5px 14px -3px rgba(0,0,0,0.11);
  box-shadow: 3px 5px 14px -3px rgba(0,0,0,0.11);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  visibility: hidden;
  opacity: 0;
}
.block-search-popup.open {
  visibility: visible;
  opacity: 1;
}
.block-search-popup .form-content {
  position: relative;
  padding: 50px;
}
.block-search-popup .close-block-serach {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.block-search-popup .inner {
  position: relative;
}
.block-search-popup .input {
  border: none;
  width: 100%;
  border-bottom: 2px solid #ededed;
  padding-left: 0;
  background-color: #fff;
  padding: 12px 15px;
  padding-right: 50px;
}
.block-search-popup .btn-search {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 20px;
  line-height: 44px;
}
body.open-block-serach:before{
  content: '';
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.post-related-slide .post-item .post-name{
  font-size: 10px;
  line-height: 24px;
  text-align: center;
}
/*--------------------
 FOOTER
 -------------------*/
.footer{
  background-color: #fff;
  position: relative;
}
.footer .copyright{
  border-top: 1px solid #dddddd;
  text-align: center;
  margin-top: 50px;
  padding: 48px 0;
  color: #999;
  font-style: italic;
}

.footer .widget_smartblog_instagram .widgettitle{
  margin-bottom: 13px;
}
.footer .widget{
  margin-bottom: 37px;
}
.footer .widget:last-child{
  margin-bottom: 0;
}
.backtotop {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: fixed;
  right: 10px;
  bottom: 30px;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
}
.backtotop.show{
  opacity: 1;
  visibility: visible;
}
.backtotop:hover,
.backtotop:focus{
  color: #fff;
}
.instagram-footer .smartblog-instagram{
  margin: 0;
}
.instagram-footer .smartblog-instagram .item{
  padding: 0;
  margin: 0;
}
.newsletter-footer .smartblog-newsletter-widget{
  display: table;
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
.newsletter-footer .smartblog-newsletter-widget .widgettitle,
.newsletter-footer .smartblog-newsletter-widget .newsletter-form-wrap{
  display: table-cell;
  vertical-align: middle;
}
.newsletter-footer .smartblog-newsletter-widget .widgettitle{
  text-align: left;
}
.newsletter-footer .smartblog-newsletter-widget .widgettitle:before{
  display: none;
}
.newsletter-footer .smartblog-newsletter-widget .widgettitle .text{
  padding: 0;
  background-color: transparent;
}
.newsletter-footer .smartblog-newsletter-widget .email{
  margin: 0;
  width: 500px;
  float: left;
  font-size: 14px;
  color: #888;
}
.newsletter-footer .smartblog-newsletter-widget .submit-newsletter{
  float: right;
}
.newsletter-footer .smartblog-newsletter-widget .newsletter-form-wrap{
  width: 667px;
}
.newsletter-footer{
 padding-top: 50px;
}
/*------------------------------
 CUSTOM BOOSTRAP 5 COLUMNS
 ------------------------------*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}


/*----------------
AUTO CLEAR
----------------*/
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-15:nth-child(5n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-15:nth-child(5n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-15:nth-child(5n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (min-width:480px) and (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-15:nth-child(5n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
@media (max-width:479px){
  .auto-clear .col-ts-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-ts-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-ts-15:nth-child(5n+1){clear:left;}
  .auto-clear .col-ts-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-ts-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-ts-6:nth-child(odd){clear:left;}
}

/*----------------------------------
Custom Bostrap Colum form 480 > 767
----------------------------------*/

@media (max-width: 480px){
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-ts-1,
  .col-ts-10,
  .col-ts-11,
  .col-ts-12,
  .col-ts-2,
  .col-ts-3,
  .col-ts-4,
  .col-ts-5,
  .col-ts-6,
  .col-ts-7,
  .col-ts-8,
  .col-ts-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
  .col-ts-1,
  .col-ts-2,
  .col-ts-3,
  .col-ts-4,
  .col-ts-5,
  .col-ts-6,
  .col-ts-7,
  .col-ts-8,
  .col-ts-9,
  .col-ts-10,
  .col-ts-11{float:left;}
  .col-ts-12{width:100%;}
  .col-ts-11{width:91.66666667%;}
  .col-ts-10{width:83.33333333%;}
  .col-ts-9{width:75%;}
  .col-ts-8{width:66.66666667%;}
  .col-ts-7{width:58.33333333%;}
  .col-ts-6{width:50%;}
  .col-ts-5{width:41.66666667%;}
  .col-ts-4{width:33.33333333%;}
  .col-ts-3{width:25%;}
  .col-ts-2{width:16.66666667%;}
  .col-ts-1{width:8.33333333%;}
  .col-ts-pull-12{right:100%;}
  .col-ts-pull-11{right:91.66666667%;}
  .col-ts-pull-10{right:83.33333333%;}
  .col-ts-pull-9{right:75%;}
  .col-ts-pull-8{right:66.66666667%;}
  .col-ts-pull-7{right:58.33333333%;}
  .col-ts-pull-6{right:50%;}
  .col-ts-pull-5{right:41.66666667%;}
  .col-ts-pull-4{right:33.33333333%;}
  .col-ts-pull-3{right:25%;}
  .col-ts-pull-2{right:16.66666667%;}
  .col-ts-pull-1{right:8.33333333%;}
  .col-ts-pull-0{right:auto;}
  .col-ts-push-12{left:100%;}
  .col-ts-push-11{left:91.66666667%;}
  .col-ts-push-10{left:83.33333333%;}
  .col-ts-push-9{left:75%;}
  .col-ts-push-8{left:66.66666667%;}
  .col-ts-push-7{left:58.33333333%;}
  .col-ts-push-6{left:50%;}
  .col-ts-push-5{left:41.66666667%;}
  .col-ts-push-4{left:33.33333333%;}
  .col-ts-push-3{left:25%;}
  .col-ts-push-2{left:16.66666667%;}
  .col-ts-push-1{left:8.33333333%;}
  .col-ts-push-0{left:auto;}
  .col-ts-offset-12{margin-left:100%;}
  .col-ts-offset-11{margin-left:91.66666667%;}
  .col-ts-offset-10{margin-left:83.33333333%;}
  .col-ts-offset-9{margin-left:75%;}
  .col-ts-offset-8{margin-left:66.66666667%;}
  .col-ts-offset-7{margin-left:58.33333333%;}
  .col-ts-offset-6{margin-left:50%;}
  .col-ts-offset-5{margin-left:41.66666667%;}
  .col-ts-offset-4{margin-left:33.33333333%;}
  .col-ts-offset-3{margin-left:25%;}
  .col-ts-offset-2{margin-left:16.66666667%;}
  .col-ts-offset-1{margin-left:8.33333333%;}
  .col-ts-offset-0{margin-left:0;}
  .hidden-ts{
    display: none;
  }
}
.justify{
  text-align: justify;
}


/*---------------------
 REPONSIVE
 ----------------------*/
@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}
@media (max-width: 1366px){
  .smartblog_latest_posts_widget .latest-post li .item-photo{
    width: 80px;
  }
  .smartblog_latest_posts_widget .latest-post .post-name{
    line-height: normal;
  }
}
@media (max-width: 1200px){

}
@media (max-width: 1024px){
  .post-slider .post-item .post-thumb{
    padding-right: 0;
  }
  .post-slider .post-item .post-item-info{
    position: static;
    width: 100%;
  }
  .post-slider .post-item .post-thumb::before{
    display: none;
  }
  .smartblog-socials-widget .social{
    margin: 0 5px;
    margin-top: 20px;
  }
  .smart-mainmenu > li > a{
    padding: 13px 10px;
  }
  .newsletter-footer .smartblog-newsletter-widget,
  .newsletter-footer .smartblog-newsletter-widget .widgettitle,
  .newsletter-footer .smartblog-newsletter-widget .newsletter-form-wrap{
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
  .newsletter-footer .smartblog-newsletter-widget{
    max-width: 500px;
  }
  .newsletter-footer .smartblog-newsletter-widget .email{
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .newsletter-footer .smartblog-newsletter-widget .submit-newsletter{
    float: none;
  }
  .has-slidebar .blog-list .post-item .post-thumb{
    width: 50%;
  }
  .has-slidebar .blog-list .post-item .post-excerpt{
    display: none;
  }
  .has-slidebar .blog-list.list-1st-full .post-item.first .post-excerpt{
      display: block;
  }
  .has-slidebar .blog-list.list-1st-full .post-item.first .post-thumb{
      width: 100%;
  }
}
@media (max-width: 991px){
  .widget-area{
    padding: 15px;
  }
  .smartblog_latest_posts_widget .latest-post li .item-photo{
    width: 50px;
  }
  .smartblog_latest_posts_widget .latest-post li .item-detail{
    padding-left: 10px;
  }
  .widget .widgettitle .text{
    padding: 0 15px;
  }
  .post-item .post-item-info{
    padding: 15px;
  }
  .smartblog-instagram .linktext{
    padding: 4px 15px;
  }
  .no-sidebar .blog-list .post-item .post-thumb{
    width: 50%;
  }
  .no-sidebar .blog-list .post-item .post-excerpt{
    display: none;
  }

}
@media (max-width: 767px){
  .main-container.left-slidebar .main-content{
    float: none;
  }
  .main-container .sidebar {
    padding-top: 50px;
  }
  .mobile-menu{
    display: block;
    background: #333333;
    color: #ffffff;
    display: block;
    font-family: 'Montserrat';
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    margin: 5px 0;
  }
  .mobile-menu a{
    color: #fff;
  }
  .nav-wrapper .smart-mainmenu {
    border-top: 1px solid #eeeeee;
    padding: 10px 15px;
    text-align: left;
    position: absolute;
    width: 100%;
    left: 0;
    background: #000;
    top: 100%;
    z-index: 999;
    border-color: rgba(255,255,255,0.2);
    display: none;
  }
  .block-search-popup{
    min-width: 1px;
    width: 300px;
    top: 40%;
  }
  .block-search-popup .form-content{
    padding: 30px 15px;
  }
  .smart-mainmenu>li{
    display: block;
  }
  .smart-mainmenu>li>a{
    padding: 10px 0;
  }
  .smart-mainmenu .toggle-submenu{
    width: 44px;
    height: 44px;
    cursor: pointer;
    float: right;
    display: inline-block;
    line-height: 44px;
    text-align: right;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .smart-mainmenu .toggle-submenu:before{
    font-family: 'FontAwesome';
    content: "\f107";
  }
  .smart-mainmenu .submenu{
    position: static;
    display: none;
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  .smart-mainmenu .show-submenu>.submenu{
    display: block;
  }
  .header-form-search .icon {
    padding: 13px 18px;
    padding-right: 0;
  }
}
@media (max-width: 480px){
  .post-slider .post-item .post-item-info{
    padding: 15px;
  }
  .post-slider .post-item .post-inner{
    padding: 10px 15px;
  }
  .post-item .post-item-info {
    padding: 12px 15px;
  }
  .instagram-footer .smartblog-instagram .item{
    width: 33.333%;
  }
  .blog-list.post-items .post-item .post-thumb{
    width: 100%;
  }
  .blog-list.post-items .post-item .post-excerpt{
    display: block;
  }
  .blog-list .post-item .post-thumb::before{
    display: none;
  }
}

@media (max-width: 320px){

}

